<h1>Hello</h1>

<% if doctor_signed_in? %>
	<%= link_to "Log out", destroy_doctor_session_path, method: :delete %>
<% else %>
	<h3>If you're a doctor, sign up <%= link_to "here", new_doctor_registration_path %></h3>
	<p>Or if you already signed up with us, sign in <%= link_to "here", new_doctor_session_path %></p>
<% end %>


<%= link_to 'Doc', doctor_root_path %>